<!DOCTYPE html>
<html>
  <head>
    <title>Create New Meal</title>
    <link rel="stylesheet" href="../public/styles.css" />
  </head>
  <body>
    <!-- put index.ejs add meal function here!-->

    <section id="fiala's_sandbox">
      <h1>admin homepage visual</h1>
      <div>
        <p>Welcome, Admin!</p>
      </div>
      <!-- there should be a form that adds a meal to the menu, ideally it should be a table (like the character creation one). 
       It should be a table that you can add and edit and delete from.  -->
<form action="X" method="post">
        <ul>
          <li>
            <label for="title">meal:</label>
            <select>
              <option value="" disabled selected>Select a type</option>
              <% meals.forEach(m => { %>
                <option value="<%= m %>"><%= m %></option>
              <% }) %>
            </select>
          </li>
          
          <li>
            <label for="date">date</label>
            <input id="date" type="text" name="m-date" />
          </li>

          <li>
            <input type="submit" value="submit" />
          </li>
          
        </ul>

        
      </form>
      <!-- displays monthly menu as a table -->
      <p>monthly menu table</p>
     <table>
      </thead>
            <tbody>
              <% meals.forEach(m => { %>
                <tr>
                  <td>
                    <a class="link" href="/meals/<%= m._id %>"><%= m.title %></a>
                  </td>
                  <td><%= m.date %></td>
                  <td class="right">
                    <a class="link" href="/characters/<%= c._id %>/edit">Edit</a>
                    <form action="/characters/<%= c._id %>/delete" method="post" class="inline">
                      <button class="btn btn-danger" type="submit">Delete</button>
                    </form>
                  </td>
                </tr>
              <% }) %>
            </tbody>
    </table>

      <!-- redirects to create new meal -->
      <button>Create New Meal</button> 



    </section>
  </body>
</html>
