<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= title %></title>
  <link rel="stylesheet" href="/styles.css" />
</head>
<body>
  <main class="wrap">
    <a class="link" href="/meals/<%= meal._id %>"></a>

    <section class="card">
      <h2>Edit Meal</h2>

      <form action='/meals/<%=meal._id%>' method='post' class="form">
        <label>Name</label>
        <input name="title" maxlength="40" value="<%= meal.title %>" required />
      
        <label>Diet</label>
          <ul>
              <li>
                <label for="diet-V">vegan</label>
                <input id="diet-V" type="checkbox" name="diet" value="V" />
              </li>
              <li>
                <label for="diet-VG">vegetarian</label>
                <input id="diet-VG" type="checkbox" name="diet" value="VG" />
              </li>
              <li>
                <label for="diet-GF">gluten-free</label>
                <input id="diet-GF" type="checkbox" name="diet" value="GF" />
              </li>
              <li>
                <label for="diet-DF">dairy-free</label>
                <input id="diet-DF" type="checkbox" name="diet" value="DF" />
              </li>
              <li>
                <label for="diet-NF">nut-free</label>
                <input id="diet-NF" type="checkbox" name="diet" value="NF" />
              </li>
            </ul>
        </select>
        <label>Image</label>
        <input name="img" maxlength="40" value="<%= meal.img %>" required />

        <button class="btn" type="submit">Save</button>
      </form>
    </section>
  </main>
</body>
</html>
